@model IEnumerable<PersonalVideoGameLibrary.Models.SessionDto>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    <a class="btn btn-default" @Html.ActionLink("Create New", "New") </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SessionMsg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SessionMsg)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SessionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SessionID }) | 
            @Html.ActionLink("Delete", "DeleteConfirm", new { id=item.SessionID })
        </td>
    </tr>
}

</table>
