@model IEnumerable<PersonalVideoGameLibrary.Models.ConsoleDto>

@{
    ViewBag.Title = "List";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/common_styles.css")
</head>
<h2>Console List</h2>

<p>
   <a class="shared-btn" @Html.ActionLink("Create New", "New") </a>
</p>
<table class="table">
    <tr>
        <th>
            Console Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ConsoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ConsoleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConsoleID }) |
            @Html.ActionLink("Delete", "DeleteConfirm", new { id=item.ConsoleID })
        </td>
    </tr>
}

</table>
