@model PersonalVideoGameLibrary.Models.ViewModels.DetailsVideoGame

@{
    ViewBag.Title = "Details";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/common_styles.css")
</head>

<h2>@Model.SelectedVideoGame.VideoGameName</h2>

<nav>
    <ul class="options">
        <li><a class="shared-btn" href="/VideoGame/List">Go back to list</a></li>
        <li><a class="shared-btn" href="/VideoGame/Edit/@Model.SelectedVideoGame.VideoGameID">Update</a></li>
        <li><a class="shared-btn" style="color:#ab2020;" href="/VideoGame/DeleteConfirm/@Model.SelectedVideoGame.VideoGameID">Delete</a></li>
    </ul>
</nav>
<div class="row">
    <div class="col-md-6 col-sm-12">
        @{ 
            string imageurl = "/Content/Images/VideoGames/default.jpg";
            if (Model.SelectedVideoGame.VideoGameHasPic)
            {
                imageurl = "/Content/Images/VideoGames/" + Model.SelectedVideoGame.VideoGameID + "." + Model.SelectedVideoGame.PicExtension;
            }
        }
        <div><img style="display:block; max-width:100%;" alt="@Model.SelectedVideoGame.VideoGameName" src="@imageurl" /></div>
    </div>
    <div class="col-md-6 col-sm-12">
        <h4>Consoles Assign for @Model.SelectedVideoGame.VideoGameName:</h4>
        @foreach (var console in Model.AssignConsole)
        {
            <a class="btn btn-default" href="/Console/Details/@console.ConsoleID">@console.ConsoleName</a> <a style="color:#ab2020;" href="/VideoGame/UnAssign/@Model.SelectedVideoGame.VideoGameID?ConsoleID=@console.ConsoleID">[X]</a>
        }

    <div>
        <form method="POST" action="/VideoGame/Assign/@Model.SelectedVideoGame.VideoGameID">
            <select name="ConsoleID">
                <option value="">Select Console</option>
                @foreach (var console in Model.UnAssignConsole)
                {
                    <option value="@console.ConsoleID">@console.ConsoleName</option>
                }
            </select>
            <input type="submit" value="Add Console to Videogame" />
        </form>
        <br />
        <div class="labelStyle">Name: @Model.SelectedVideoGame.VideoGameName</div>
        <div class="labelStyle">Price: @Model.SelectedVideoGame.VideoGamePrice</div>
        <div class="labelStyle">Hours: @Model.SelectedVideoGame.VideoGameHours</div>
    </div>
    </div>
</div>
