@model IEnumerable<PersonalVideoGameLibrary.Models.VideoGameDto>

@{
    ViewBag.Title = "List";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/common_styles.css")
</head>

<h2>Video Game List</h2>

<p>
    <a class="shared-btn" @Html.ActionLink("New Entry", "New") </a>
</p>
<table class="table">
    <tr>
        <th>
            Entry Number
        </th>
        <th>
            Video Game Name
        </th>
        <th>
            Price
        </th>
        <th>
            Hours
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VideoGameID)
            </td>
            <td>
                <a href="/VideoGame/Details/@item.VideoGameID">@Html.DisplayFor(modelItem => item.VideoGameName)</a>
            </td>
            <td>
               $@Html.DisplayFor(modelItem => item.VideoGamePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoGameHours)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VideoGameID }) |
                @Html.ActionLink("Details", "Details", new { id = item.VideoGameID }) |
                @Html.ActionLink("Delete", "DeleteConfirm", new { id = item.VideoGameID })
            </td>
        </tr>
    }
</table>
